
.cookie-banner {
	width: 100%;
	height: auto;
	position: fixed;
	bottom: 0px;
	border-top: 1px solid #e5e5e5;
	padding: 10px 20px;
	background-color: #f5f5f5;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.35);
	z-index: 2000;
	overflow-y: scroll;
	max-height: 100%;
}

.cookie-banner h2 {
	font-size: 1.6em;
	margin-bottom: .5em;
}

.cookie-banner p {
	font-size: 1em;
	margin: .75rem 0 1.5rem;
}

.cookie-banner a {
	color: #3f51b5;
}

.cookie-banner #cookie-selection {
	margin-bottom: 15px;
}

.cookie-banner #cookie-selection label {
	width: 100%;
	display: block;
	font-size: 1.4em;
	padding-left: 0px;
}

.cookie-banner #cookie-selection label input {
	height: 24px;
	width: 24px;
	float: left;
	position: inherit;
	left: auto;
}

.cookie-banner #cookie-selection label[for="essential-cookies"] {
	color: #aaa;
	margin-top: 0px;
}
.cookie-banner #cookie-selection label input[disabled=disabled] {
	background-color: #ddd;
	border-color: #aaa;
}

.cookie-banner #cookie-selection label input::before {
	display: none !important;
}
.cookie-banner #cookie-selection label input::after {
	left: 12px;
	top: 3px;
	width: 7px;
	height: 12px;
	border: solid #fff;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
	background-color: #4b5559;
}

.cookie-banner #cookie-selection label input[disabled=disabled]::after {
	background-color: #ddd;
	border-color: #aaa;
}

#cookie-banner-button {
	background: transparent;
	border: none;
	padding: 0px;
}
#cookie-banner-button:hover {
	text-decoration: underline;
}

@media (min-device-width : 450px) {
	.cookie-banner p {
		margin: .5rem 0 .5rem 0;
	}

	.cookie-banner #cookie-content {
		max-width: 1248px;
		margin: auto;
	}

	.cookie-banner #cookie-selection {
		background-color: #f5f5f5;
		display: inline-block;
	}

	.cookie-banner .button {
		float: right;
		margin-left: 10px;
		border-color: #00703c;
		background-color: #00703c;
		color: #fff;
	}
	.cookie-banner .button:hover {
		border-color: #002d18;
		background-color: #002d18;
	}

	.cookie-banner {
		padding: calc(100% - 1000px;)
	}

}


@media (max-device-width : 450px) {
	.cookie-banner #cookie-selection {
		margin-bottom: 20px;
	}

	.cookie-banner .button {
		margin: 0px 5px 0px 0px;
		width: calc(50% - 5px);
		padding: 10px;
		background-color: #fff;
		border: 1px solid #000;
		float: right;
	}
	.cookie-banner .button:hover {
		background-color: #1d1d1d;
		color: #fff;
	}

	.cookie-banner #cookies_accept_all {
		line-height: 3em;
	}
}

form#cookie-preferences fieldset {
  margin: 0px 0px 10px 0px;
}
form#cookie-preferences label {
  display: block;
  width: 100%;
  clear: both;
  float: right;
}
form#cookie-preferences fieldset label input {
	margin: 8px;
	float: left;
}
form#cookie-preferences fieldset.disabled label {
  color: #bbb;
}
form#cookie-preferences fieldset.disabled label input {
  border-color: #bbb !important;
}
form#cookie-preferences fieldset.disabled label input[checked="checked"] {
	background-color: #bbb !important;
	color: #bbb;
}

#preferences-set-message {
	background-color: #eee;
	padding: 10px;
	margin-bottom: 10px;
}
#preferences-set-message p {
	margin: 0px;
}
